
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Lista Clientes</h5>
              <div>
                <a href="./createCustomer">Crear Cliente</a>
              </div>
              <form>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Documento</th>
                        <th scope="col">Nombre Mecanico</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">11111</th>
                        <td>Oscar Grisales</td>
                        <td>
                            <a href="./queryCustomer">Consultar</a>
                            <a href="">Eliminar</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <a href="administrador">volver</a>
                  </div>            
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>



