<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h2 class="card-title text-center mb-5 fw-light fs-5">Modificar Mecanico</h2>
              <form>
                <div>
                    <h3>Datos del mecanico</h3>
                </div>
                <div>
                    <div class="mb-3">
                        <label>Nombre Completo</label>
                        <input type="text" class="form-control" id="floatingInput" placeholder="">                
                    </div>
                    <div class="mb-3">
                        <label>Telefono:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                    </div>
                    <div class="mb-3">
                        <label>Dirección:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                    </div>
                    <div class="mb-3">
                        <label>Ciudad:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                    </div>
                    <div class="mb-3">
                        <label>Rol:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                    </div>

                        <div>
                            <button>Actualizar</button>
                            <a href="./administrador">cancelar</a>
                        </div>                              
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>




