<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h2 class="card-title text-center mb-5 fw-light fs-5">Crear Mecanico</h2>
              <form>
                <div>
                    <h3>Datos del mecanico</h3>
                </div>
                <div>
                    <div class="mb-3">
                        <label>Nombre Completo</label>
                        <input ttype="text"  placeholder="Nombre Completo"  class="form-control" formControlName="nombre_completo" aria-describedby="emailHelp">                
                    </div><div class="mb-3">
                        <label>Documento:</label>
                        <input ttype="text"  placeholder="Documento"  class="form-control" formControlName="documento" aria-describedby="emailHelp">                
                    </div>
                    <div class="mb-3">
                        <label>Telefono:</label>
                        <input ttype="text"  placeholder="Telefono"  class="form-control" formControlName="telefono" aria-describedby="emailHelp">               
                    </div>
                    <div class="mb-3">
                        <label>Dirección:</label>
                        <input ttype="text"  placeholder="Dirección"  class="form-control" formControlName="direccion" aria-describedby="emailHelp">               
                    </div>
                    <div class="mb-3">
                        <label>Ciudad:</label>
                        <input type="text"  placeholder="Ciudad"  class="form-control" formControlName="ciudad" aria-describedby="emailHelp">              
                    </div>
                    <div class="mb-3">
                        <label>Rol:</label>
                        <input ttype="text"  placeholder="Rol"  class="form-control" formControlName="rol" aria-describedby="emailHelp">               
                    </div>

                        <div>
                            <button>guardar</button>
                            <a href="./administrador">cancelar</a>
                        </div>                              
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>



