<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h2 class="card-title text-center mb-5">Detalles de reparación</h2>
              <form>
                <div>
                    <div>
                        <h5 class="text-center">Datos cliente</h5>
                    </div>
                    <div class="mb-3 my-3">
                        <label>Nombre Completo:</label>
                        <input type="text" class="form-control" id="floatingInput" placeholder="">                
                      </div>
                      <div class="mb-3">
                        <label>Ciudad:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                      </div>
                      <div class="mb-3">
                        <label>Telefono</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                      </div>
                      <div class="mb-3">
                        <label>Dirección</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                      </div>      
                </div>
                <div>
                    <div>
                        <h5 class="text-center mt-5">Datos Vehiculo</h5>
                    </div>
                    <div class="mb-3">
                        <label>Marca:</label>
                        <input type="text" class="form-control" id="floatingInput" placeholder="">                
                      </div>
                      <div class="mb-3">
                        <label>Modelo:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                      </div>
                      <div class="mb-3">
                        <label>Placa:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                      </div>
                      <div class="mb-3">
                        <label>Estado:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                      </div>      
                </div>
                <div>
                    <div>
                        <h5 class="text-center mt-5">Detalles del problema</h5>
                    </div>
                    <div>
                        <textarea name="" id="" cols="28" rows="4"></textarea>
                    </div>                  
                </div>
                <div class="vh-10 row m-0 justify-content-center my-3">
                  <div class="col-auto">
                    <a class="btn-reparacion" href="./historial">Historial</a>                  
                  </div>
                </div>
                <div>
                    <div>
                        <h5 class="text-center my-5">Información Diagnosticos realizados</h5>
                    </div>

                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Diagnosticos <a href=""> <img class="img-agregar" src="/assets/images/icono_agregar.png"></a></th>
                            </tr>
                            </thead>
                        <tbody>
                          <tr>
                            <th scope="row"> 15/05/2020</th>
                            <td>Cambio de aceite</td>
                          </tr>
                        </tbody>
                        </table>
                    </div>
                    <div class="vh-50 row m-0 justify-content-center my-3"> 
                      <div class="col-auto">
                        <button class="btn_enviar">enviar</button>
                        <a class="btn-reparacion"href="./mecanico">atras</a>
                      </div>                       
                    </div>                    
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
