<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center">Historial</h5>
              <form>
                <table class="table table-bordered my-5">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Trabajo realizado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"> 15/05/2020</th>
                        <td>Cambio de aceite</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="vh-10 row m-0 justify-content-center my-3">
                    <div class="col-auto">
                      <a class="btn-back" href="./mecanico">Atras</a>
                    </div>
                  </div>               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

