<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h2 class="card-title text-center mb-5 fw-light fs-5">Ingreso Vehiculo</h2>
              <form>
                <div>
                    <div class="mb-3">
                        <label>Marca:</label>
                        <input type="text" class="form-control" id="floatingInput" placeholder="">                
                    </div>
                    <div class="mb-3">
                        <label>Modelo:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                    </div>
                    <div class="mb-3">
                        <label>Placa:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                    </div>
                    <div class="mb-3">
                        <label>Mecanico:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                    </div>
                    <div class="mb-3">
                        <label>Propietario:</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">               
                    </div>
                    <div>
                        <div>
                            <h3>Detalles del problema</h3>
                        </div>
                        <div>
                            <textarea name="" id="" cols="28" rows="5"></textarea>
                        </div>                  
                    </div>
                    <div>
                        <div class="d-grid">
                            <button class="btn-login" type="submit">enviar</button>
                        </div>
                        <div>
                            <a href="./administrador">Cancelar</a>
                        </div>
                    </div>                              
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

