<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <div class="container-img">
                <img class="img-logo" src="/assets/images/logoGarage.png">
              </div>
              <h5 class="card-title text-center mb-5 fw-light fs-5">Inicio de sesión</h5>
              <form [formGroup]="form">
                <div class="mb-3">
                  <label>ID:</label>
                  <input type="text" class="form-control" name="id" id="floatingInput" placeholder="ID">
                </div>
                <div class="mb-3">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                </div>
                <div class="d-grid">
                  <button class="btn-login" type="submit" >Iniciar sesión</button>
                </div>
                <div class="d-grid">
                  <a href="">Olvide mi contraseña</a>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
