
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-login {
    color: white !important;
    background-color: #01395C;
    border-radius: 10px;
    margin-top: 20%;
  }
  
  .img-logo{
    object-fit: cover;
    width:100%;
    height:100%;
  }

  .container-img{
   padding: 10% 10% 10% 10%
  }

  input {
	margin: 20px 0px; /*espacio entre los label*/
	padding: 5px;/*tamaño del label*/
	border-radius: 10px;
	width: 100%;
	font-size: 20px;/*tamaño de la letra*/
	font-family: Arial;/*tipo de fuente*/
    background-color: #c8c4c4;
}

a {
	text-decoration:none;
	color:black;
	font-size: 1rem;
	margin: 20px;
	text-align: center;
	margin-bottom: 5%;
 }

 h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }