
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h2 class="card-title text-center">Lista Reparaciones</h2>
              <form>
                <table class="table table-bordered my-5">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Reporte</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"> 15/05/2020</th>
                        <td>XEQ21D</td>
                        <td>Pendiente</td>
                        <td><a class="btn_detalle" href="detallesReparacion">Detalles</a></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="container">
                    <a class="btn_back" href="mecanico">Volver</a>
                  </div>            
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
